<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332597126436-a49egeobrnqik0cv87alkbcbgev0uute.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332597126436-a49egeobrnqik0cv87alkbcbgev0uute</string>
	<key>API_KEY</key>
	<string>AIzaSyDvDo5YzC2LQ5UvnWiVAoqKVlu0eoKTs1w</string>
	<key>GCM_SENDER_ID</key>
	<string>332597126436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhtech.uetStudentNotification</string>
	<key>PROJECT_ID</key>
	<string>uet-student-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>uet-student-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332597126436:ios:c4bc899ba41507698f7fb1</string>
	<key>DATABASE_URL</key>
	<string>https://uet-student-notification.firebaseio.com</string>
</dict>
</plist>