uet_student_notification/.gradle/5.2.1/gc.properties
uet_student_notification/.gradle/5.2.1/fileChanges/last-build.bin
uet_student_notification/.gradle/5.2.1/fileHashes/fileHashes.lock
uet_student_notification/.gradle/buildOutputCleanup/buildOutputCleanup.lock
uet_student_notification/.gradle/buildOutputCleanup/cache.properties
uet_student_notification/.gradle/vcs-1/gc.properties
